<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<main>
  <h1 align="center"> Портфолио</h1> <br>
  <br>
  <br>
    <p style="margin-left: 30%">
  <b align="left">Обо мне</b> <br>
  <br>
  Выбрал я сферу будущей деятельности еще лет в 9, причиной послужил купленный ПК <br>
    моими родителями. А если точнее, то моё любопытство заставило меня научиться дружить с компом.<br>
  В классе восьмом, из-за плохих оценок по информатике я решил разобраться в этом предмете.<br>
    Началось все с Турбо Паскаля, и продолжилось вовлечением меня в сторону администрирования.<br>
    Искренне верив, что линукс это самая лучшая системка на планете я боролся с ее болячками, <br>
    коих когда было не мало, впрочем как и сейчас. В 11 классе, нас познакомили с<br>
    вёрсткой(просто html, без css даже) и 3D моделированием. <br>
    Собственно на этом и базировалось обучение до конца года. <br>
    <br>
    <br>
  <b align="center">Почему Java?</b><br>
    <br>
  Посоветовавшись со знатоками кодинга, я выбрал направление для поступления, <br>
  прикладную математику и информатику. В универе было довольно интересно, и самое<br>
  главное полезно для моей будущей деятельности.<br>
  Самые полезные из предметов, на мой взгляд были: Дискретка, БД, Линал, <br>
  Операционные системы, Архитектуры компов, Языки программирования,<br>
  Алгоритмы и теория сложности, Параллельные и распределенные вычисления. <br>
  Из языков я познакомился с C++(Сложнее чем лабы был только курсач, у меня <br>
  был про сравнение сортировок), C#(Для работы с графикой), <br>
  python(для лаб по практически всем предметам).  О матлабе наверно даже <br>
  говорить не стоит, хотя было прикольно программировать робота, <br>
  который обходил препятствия))<br>
  На 2 курсе я задумался о выборе конкретной технологии в которой хочу развиваться. <br>
  В то время, довольного много шума навел Js, и я начал с него. <br>
  Но в какой то момент я подумал что выбор был необдуманным.<br>
  Пришел я в итоге к бэку. Js манил меня тем что в нем частенько что то апдейтилось. <br>
  А java привлекала своей строгой типизацией, ну и то что, ее преподают в штатах как первый язык. <br>
  Js более свободный, он может простить тебе какие то ошибки подумал я и решил,<br>
  что строгость дисциплинирует и выбрал Java. Изучив синтаксис и базовые концепции мне <br>
  под руку подвернулись курсы с большой скидкой. Подумал что это хорошая инвестиция,<br>
  и если я не узнаю ничего нового, то хотя бы практически прокачаю себя. Так и случилось,<br>
  при этом не скажу что курсы были бесполезными, я шел на них без завышенных ожиданий, <br>
  зная что не выйду после обучения Архитектором.<br>
  Сам не заметил как полюбил Java, даже не задумываясь, а какие у нее плюсы, минусы. Просто <br>
  было в удовольствие работать именно с ней.<br>
  Понаписав достаточное количество калькуляторов и игр вроде крестики нолики. <br>
  Я потихоньку начал знакомиться с фреймворками. В частности со Spring.<br>
  <br>
  <br>
  <b align="left">Что я умею на данный момент?</b><br>
  <br>
  <b>0)</b> Сам Java core конечно же. ООП, коллекции, многопоточность. <br>
  // Понимание->Осознание для чего это нужно->Практическое применение.<br>

  <b>1)</b> Spring (web, mvc, security)<br>
  //Понимание->Осознание для чего это нужно->Практическое применение.<br>

  <b>2)</b> БД //Понимание->Осознание для чего это нужно-><br>
  Практическое применение, в том числе со spring.<br>

  <b>3)</b> Junit  // Понимание>Осознание для чего это нужно-> <br>
  Понимание как это юзать.<br>

  <b>4)</b> Продвинутый юзер unix like систем. Винду конечно же <br>
  тоже знаю, хоть и не люблю.<br>

  <b>5)</b> Git. Я сейчас в обиде на себя за то что игнорил использование гита,<br>
  все что у меня осталось я запушил, а остальное<br>
  надеюсь осталось в моей голове)))

  <b>6)</b> Python. В последнее время я ему не уделял внимания, <br>
  но с наличием инэта я его вспомню))

  <b>7)</b> Паттерны проектирования. //Понимание->Осознание для чего <br>
  это нужно->Практически не применял, только почитал об<br>
  этом чтобы хотя бы  singleton от фабрики отличать.<br>

  <b>8)</b> Maven. Только на нем и собирал все что у меня было из проектов.<br>

  <b>9)</b> Html и css. В последнее время беру шаблон с бутстрапа. <br>
  А потом редачу, надеюсь это считается за практическое применение))<br>
  <br>
  <br>
  <b align="left">Личностные качества и навыки</b><br>
  <br>
  Командный игрок. На меня можно положиться, и я тоже буду <br>
  полагаться на команду в критической ситуации.<br>
  Я понимаю, что время измеряется в деньгах, а джун это всегда <br>
  убыток в кампании. Поэтому моя цель не просто обучиться,<br>
  а обучиться быстро.<br>
  Если начал что-то, то мой внутренний перфекционист прикажет мне <br>
  завершить до конца задачу. При этом я понимаю что лучше <br>
  попросить помощи, чем тянуть всех за собой.<br>
  <br>
  <br>
  <b align="left">Персональные данные:</b><br>
  <br>
  ФИО: Кан Денис Дмитриевич<br>
  Возраст: 21 год<br>
  Образование: Бакалавриат<br>
  Гражданство: РФ<br>
  Официальный опыт работы:  1 год (ООО «МАТРИКС телеком») <br>
  июнь 2020 - июнь 2021<br>
    <br>
    Также, внизу контакты для связи.<br>

</main>

<div th:insert="blocks/footer :: footer"></div> </p>

</body>
</html>